[Desktop Entry]
Name=Erebrus
Comment=UI interface for Erebrus 
GenericName=VPN client
Exec=/opt/erebrus/ui/bin/erebrus-ui
Icon=/opt/erebrus/ui/erebrusicon.svg
Type=Application
StartupNotify=true
Categories=Network;
