[Desktop Entry]
Name=Erebrus
Exec=erebrus.ui
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/erebrus.png
StartupWMClass=Erebrus
Comment=Erebrus Client
Categories=Network;
